body{
background-image: url(http://www.sompaisoscatalans.cat/simage/104/1048476/wallpaper-hd-tecnologia.jpg);


}


#todo{
border-radius: 30px;
padding-bottom: 80px;
margin-top: 0px;
margin-left: 30%;
margin-right: 30%;
background-color: rgba(15, 150, 350, 0.5);
}

#cosas{

}

#cuadro{
width: 100%;
}

#titulo{
text-align: center;
font-size: 70px;
font-family: 'Baloo', cursive;
font-family: 'Fredericka the Great', cursive;

}

#usu{
width: 30%;
border-radius: 10px;
text-align:center;
margin-left: 35%;
background-color: rgba(15, 150, 350, 0.5);
border-style: dotted;
border-color:#000000;
}

#contraseña{
  font-family: 'Baloo', cursive;
  font-family: 'Fredericka the Great', cursive;
text-align: center;
font-size: 40px;
width: 100%;
margin-bottom: 10px;
margin-top: 40px;

}

#contra{
  border-radius: 10px;
width: 30%;
margin-left: 35%;
text-align: center;
background-color: rgba(15, 150, 350, 0.5);
border-style: dotted;
border-color: #000000;
}

#login{
  border-radius: 10px;
  width: 20%;
  margin-top: 30px;
}

#registrar{
  border-radius: 10px;
  width: 20%;
margin-left: 20%;
}

#cancelar{
  border-radius: 10px;
  width: 20%;

}

/*Contiene el parrafo (#texto)*/
#parrafo{
width: 100%;

}

#texto{
text-align: center;
font-size: 40px;
padding-right: 30px
font-family: 'Baloo', cursive;
font-family: 'Fredericka the Great', cursive;
margin-bottom: 10px;
margin-top: 20px;

}

/* Contiene el input y el boton*/
#cuadro1{
width: 100%;

}

#mensaje{
  text-align: center;
  width: 100%;
}
